.root {
	@include flex-mother();
	min-height: 100vh;
	position: relative;
	background-color: map-get($clr, 'clr-primary-dark-cyan');
	overflow: hidden;
	&__bg {
		width: clamp(40rem, 55%, 75rem);
	}
	&__bg--top {
		@include positioning(absolute, -30%, -5%);
		@include mq(37.5rem) {
			top: -20%;
			left: -40%;
		}
	}
	&__bg--bottom {
		@include positioning(absolute, -30%, -5%, true);
		@include mq(37.5rem) {
			bottom: -10%;
			right: -40%;
		}
	}
}
