$ff-primary: 'Kumbh Sans', sans-serif;
$fs-primary: 62.5%;

$clr: (
	'clr-primary-dark-cyan': #19a2ae,
	'clr-primary-very-dark-desaturated-blue': #2d3248,
	'clr-primary-dark-grayish-blue': #d8dce9,
	'clr-neutral-dark-gray': #969696,
	'clr-primary-white': #ffffff,
);
